name: Workflow Testing

on: 
 workflow_dispatch:
 push: 
  branches: [ "main" ]
 pull_request:
  branches: [ "main" ]

jobs:
 greet:
  runs-on: ubuntu-latest
  steps: 
  - name: Greet the User
    run: echo "Hello World!"
