name: Workflow Testing

on: 
 workflow_dispatch:
 push: 
  branches: [ "main" ]
 pull_request:
  branches: [ "main" ]

jobs:
 greet:
  runs-on: ubuntu-latest
  steps: 
  - name: Greet the User
    run: echo "Hello World!"
  - name: Show directory before checkout
    run: ls -l
  - name: Checkout our code  
    uses: actions/checkout@v2
  - name: Show directory after checkout
    run: ls -l
   
